@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-BlackItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-BlackItalic.woff') format('woff'),
      url('../fonts/Amfibia-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-BoldItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-BoldItalic.woff') format('woff'),
      url('../fonts/Amfibia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-Black.woff2') format('woff2'),
      url('../fonts/Amfibia-Black.woff') format('woff'),
      url('../fonts/Amfibia-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-Bold.woff2') format('woff2'),
      url('../fonts/Amfibia-Bold.woff') format('woff'),
      url('../fonts/Amfibia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia Book';
  src: url('../fonts/Amfibia-Book.woff2') format('woff2'),
      url('../fonts/Amfibia-Book.woff') format('woff'),
      url('../fonts/Amfibia-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia Book';
  src: url('../fonts/Amfibia-BookItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-BookItalic.woff') format('woff'),
      url('../fonts/Amfibia-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-DemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-DemiBoldItalic.woff') format('woff'),
      url('../fonts/Amfibia-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-DemiBold.woff2') format('woff2'),
      url('../fonts/Amfibia-DemiBold.woff') format('woff'),
      url('../fonts/Amfibia-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-ExtraBold.woff2') format('woff2'),
      url('../fonts/Amfibia-ExtraBold.woff') format('woff'),
      url('../fonts/Amfibia-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/Amfibia-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-Light.woff2') format('woff2'),
      url('../fonts/Amfibia-Light.woff') format('woff'),
      url('../fonts/Amfibia-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-LightItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-LightItalic.woff') format('woff'),
      url('../fonts/Amfibia-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-Regular.woff2') format('woff2'),
      url('../fonts/Amfibia-Regular.woff') format('woff'),
      url('../fonts/Amfibia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-RegularItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-RegularItalic.woff') format('woff'),
      url('../fonts/Amfibia-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-Thin.woff2') format('woff2'),
      url('../fonts/Amfibia-Thin.woff') format('woff'),
      url('../fonts/Amfibia-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia';
  src: url('../fonts/Amfibia-ThinItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-ThinItalic.woff') format('woff'),
      url('../fonts/Amfibia-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia UltraThin';
  src: url('../fonts/Amfibia-UltraThinItalic.woff2') format('woff2'),
      url('../fonts/Amfibia-UltraThinItalic.woff') format('woff'),
      url('../fonts/Amfibia-UltraThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amfibia UltraThin';
  src: url('../fonts/Amfibia-UltraThin.woff2') format('woff2'),
      url('../fonts/Amfibia-UltraThin.woff') format('woff'),
      url('../fonts/Amfibia-UltraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

