/**
 * Variables
*/

$font-family: 'Amfibia', san-serif;
$font-family-secondary: 'Amfibia', san-serif;

$font-light: 300;
$font-regular: 'normal';
$font-bold: 'bold';
$font-black: 900;

$black: #0E0C0C;
$white: #fff;
$light-gray: #f1f1f1;
$orange-button: #E84E0F;
$orange-dots: #FF560A;
$orange-linear: linear-gradient(180deg, #F45D1F 0%, #E84E0F 100%);
$blue-principal: #1ABEE7;
$blue: #22ABD9;
$blue-linear: #0071C2;
$sky-blue-linear: #57D5F4;
$sky-blue-gradied: linear-gradient(180deg, #1ABEE7 0%, #1F79C6 100%);
$sky-blue: #DAF4FC;
$gray: #626385;
$gray-background: #F8F8F8;
$gray-half: #808080;
$gray-book: #626385;
$yellow: #E5D100;
$color-gray: #9E9FA1;
$color-gray-2: #BABBC8;
$color-blue-3: #ecf9fd;

$color-otto: #80DAF3;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$border-color-footer: rgba(98, 99, 133, 0.2);
